@charset "UTF-8";
.left{
    float: left;
}
.right{
    float: right;
}

body{
    background-color: #fff;
    min-width: 1675px;
}
ul.no-style{
    list-style: none;
}
ul>li{
    vertical-align: bottom;
}
ul.horizontal>li{
    float: left;
}
.tab-group{
    overflow: hidden;
}
.tab-group .tab-item{
    padding: 0 20px;
    line-height: 30px;
    font-size: 18px;
    color: rgb(51,51,51);
    border-radius: 15px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    float: left;
}
.tab-group .tab-item.active{
    background-color: rgb(1,174,253);
    color: #fff;
}
/** 兼容ie7 **/
.in-bl{
    display:inline-block;
    *display:inline;
    *zoom:1;}

/**       header css start           **/
.header{
    width: 100%;
    height: 367px;
    /*background-image: url("../images/banner.png");
    background-size: 100% 100%;*/
    position: relative;
}
.header .logo{
    font-size: 48px;
    color: #fff;
    padding-left: 144px;
    line-height: 116px;
    background: url("../images/logo.png") no-repeat 0 center;
    position: absolute;
    left: 66px;
    top: 58px;
}
.header .nav-bar{
    width: 950px;
    height: 166px;
    background-image: url("../images/nav-bar.png");
    position: absolute;
    top: 77px;
    right: 0;
}
.header .nav-bar .nav{
    position: absolute;
    right: 230px;
    top: 17px;
}
.header .nav-bar .nav  a.nav-item{
    display: block;
    padding-top: 100px;
    min-width: 96px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}
.header .nav-bar .nav  .nav-item.auto-search{
    background: url("../images/auto-icon.png") no-repeat center 0;
}
.header .nav-bar .nav  .nav-item.guide-search{
    background: url("../images/guide-icon.png") no-repeat center 0;
}
.header .nav-bar .nav  .nav-item.view{
    background: url("../images/view-icon.png") no-repeat center 0;
}
.header .nav-bar .nav ul>li{
    margin: 0 37px;
}
.header .nav-bar .operation-group{
    position: absolute;
    right: 35px;
    top: 0;
}
.header .nav-bar .operation-group a.operation{
    padding-left: 43px;
    line-height: 29px;
    font-size: 24px;
    color: #fff;
    display: block;
}
.header .nav-bar .operation-group .operation.setting{
    background: url("../images/setting-icon.png") no-repeat 0 center;
}
.header .nav-bar .operation-group .operation.question{
    background: url("../images/question-icon.png") no-repeat 0 center;
}
.header .nav-bar .operation-group .operation.back{
    background: url("../images/back-icon.png") no-repeat 0 center;
}
.header .nav-bar .operation-group ul>li{
    margin: 17px 0;
}
.header .case-info{
    position: absolute;
    left: 20%;
    bottom: 56px;
}
.header .case-info ul>li{
    list-style-type: disc;
}
.header .case-info ul>li>span{
    font-size: 18px;
    line-height: 24px;
    color: rgb(102,102,102);
}
/**       /header css  end         **/

/**       main css  start          **/
.main{
    position: relative;
    padding-left: 565px;
    margin-top: -40px;
}
.main .main-left{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 545px;
}
.main .main-right{
    height: 735px;
    width: 100%;
}
.main .box{
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgb(240,240,240);
    border: 1px solid rgb(246,246,246);
    height: 100%;
}
/**       main css  end         **/



/**       footer css start          **/
.footer{
    padding:10px 25px 0;
    background-color: #fff;
    height: 150px;
}

.table {width:100%;text-align: center;}
.table td {padding:5px;}
.table thead td {font-size:18px;font-weight: bolder;color:#242424;}
.table tbody td {height:20px;color:#9a9a9a;}
.table tbody td {border-bottom:1px solid #EEE;}
.table .t-edit{display:block;width:21px;height:20px;margin:0 auto;background: url("../images/edit.png") no-repeat center center;}
/**       footer css end          **/