.left{
    float: left;
}
.right{
    float: right;
}

body{
    background-color: #fff;
    min-width: 1365px;
}
ul.no-style{
    list-style: none;
}
ul.horizontal>li{
    float: left;
}
/** ¼æÈİie7 **/
.in-bl{
    display:inline-block;
    *display:inline;
    *zoom:1;}