@charset "UTF-8";
.dy-box{padding:0 0 0 10px;overflow-y:auto;}
.dy-box .dy-setting{position:absolute;top:-39px;left:30px;display:block;width:98px;height:28px;padding-left:33px;font-size:18px;color:#01aefd;line-height:28px;background:url("../images/setting.png") no-repeat left  center;}
.dy{margin-bottom:10px;}
.dy.first-dy{margin-top:10px;}
.dy .dy-title{}
.dy .dy-title .dy-ti-l{position:relative;float:left;width:25px;height:56px;background:url("../images/dy-ti-l.png") no-repeat center center;}
.dy .dy-title .dy-ti-l .circle{position:absolute;top:11px;left:10px;width:33px;height:33px;font-size:24.81px;color:#01aefd;text-align:center;line-height:33px;background: url("../images/circle.png") no-repeat center center;}
.dy .dy-title .dy-ti-m{float:left;width:278px;height:56px;font-size:24.81px;color:#FFF;text-align:center;line-height:55px;background-color: #01aefd;cursor:pointer ;}
.dy .dy-title .dy-ti-r{float:left;width:25px;height:56px;background:url("../images/dy-ti-r.png") no-repeat center center;}

.dy.active .dy-title .dy-ti-l{float:left;width:25px;height:56px;background:url("../images/dy-ti-ac-l.png") no-repeat center center;}
.dy.active .dy-title .dy-ti-l .circle{color:#ffc000;}
.dy.active .dy-title .dy-ti-m{float:left;width:278px;height:56px;background-color: #ffc000;}
.dy.active .dy-title .dy-ti-r{float:left;width:25px;height:56px;background:url("../images/dy-ti-ac-r.png") no-repeat center center;}

.dy .dy-list {display:none;}
.dy.active .dy-list {display:block;}
.dy .dy-list li {position:relative;padding-left:30px;padding-right:40px;}
.dy .dy-list li a{display:block;height:40px;font-size: 16.61px;color:#01aefd;line-height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dy .dy-list li.active a{color:#ffc000;}
.dy .dy-list li i{position:absolute;right:24px;top:12px;display:none;width:0;height:0;border-top:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid transparent;border-left:8px solid #ffc000;}
.dy .dy-list li.active i{display:block;}

.circle-ls{display:block;height:17px;padding:4px 10px;margin:7px 4px;line-height:17px;color:#292929;border-radius: 10px;background-color: #EEE;}
.circle-ls.active{background-color: #01aefd;color:#FFF;}
.dy-info-box {}
.dy-info-box .info-content {height:100%;overflow-y:auto;}
.dy-info-box .info-content .info-title {padding:5px 23px;border-bottom:1px solid #EEE;}
.dy-info-box .info-content .info-title .search-input {float:right;}
.dy-info-box .info-content .info-title h2 {float:left;height:40px;padding-left:26px;font-size:24.81px;line-height:40px;color:#ffc000;}
.dy-info-box .info-content .info-title h2.se-ti {background: url("../images/se-ti.png") no-repeat left center;}
.dy-info-box .info-content .info-title h2.ipc-tree {background: url("../images/ipc-tree.png") no-repeat left center;}

.dy-info-box .info-content  .info-cond {border-bottom:1px solid #EEE;}
.dy-info-box .info-content  .info-cond .condition-row {*position:relative;*left:0;*top:0;position:relative;min-height:40px;padding-left:170px;padding-right:31px;}
.dy-info-box .info-content  .info-cond .condition-row .condition-hint {position:absolute;left:0;width:170px;height:40px;text-align:right;line-height: 40px;}
.dy-info-box .info-content  .info-cond .condition-row .condition-list {position:relative;width:100%;min-height:40px;}
.dy-info-box .info-content  .info-cond .condition-row .condition-list a{float:left;}
.dy-info-box .info-content  .info-cond .condition-row .condition-list a.radio {float:left;display:block;height:40px;line-height:40px;margin-right:20px;padding-left:21px;font-size:16.54px;color:#0b0b0b;background:url("../../common/images/radio.png") no-repeat left center; }
.dy-info-box .info-content  .info-cond .condition-row .condition-list a.radio.active {color:#01aefd;background:url("../../common/images/radio_active.png") no-repeat left center; }
.dy-info-box .info-content  .info-cond .condition-row .condition-list .circle-ls {font-size:16.5px;}
.dy-info-box .info-content  .info-cond .condition-row .condition-list i {position:absolute;right:-17px;top:17px;cursor: pointer;display:block;width:0;height:0;border-top:8px solid #01aefd;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid transparent;}

.dy-info-box .info-content .info-tree {}
.dy-info-box .info-content .info-tree .ipc-tree-box {min-height:482px;}
.dy-info-box .info-content .info-tree .ipc-tree-box li{padding:5px 10px;font-size:20px;color:#2f2f2f;line-height: 1.2;}
.dy-info-box .info-content .info-tree .ipc-tree-box > div{float:left;}
.dy-info-box .info-content .info-tree .ipc-tree-box .tree-box{width:29%;height:100%;margin-right:1px;}
.dy-info-box .info-content .info-tree .ipc-tree-box .tree-cn{position:relative;width:35%;}
.dy-info-box .info-content .info-tree .ipc-tree-box .tree-cn i,
.dy-info-box .info-content .info-tree .ipc-tree-box .tree-en i{position:absolute;top:-35px;display:block;width:21px;height:21px;}
.dy-info-box .info-content .info-tree .ipc-tree-box .tree-cn i{background:url("../images/tree-cn.png") no-repeat center center;}
.dy-info-box .info-content .info-tree .ipc-tree-box .tree-en i{background:url("../images/tree-en.png") no-repeat center center;}
.dy-info-box .info-content .info-tree .ipc-tree-box .tree-cn li{background: url("../images/tree-li-cn.png") no-repeat left 16px;}
.dy-info-box .info-content .info-tree .ipc-tree-box .tree-en{position:relative;width:35%;}
.dy-info-box .info-content .info-tree .ipc-tree-box .tree-en li{background: url("../images/tree-li-en.png") no-repeat left 16px;}






