.main-view .main-left .box-header{
    margin: 0 15px;
    padding: 20px 0;
    border-bottom: 1px solid rgb(238,238,238);
}
.main-view .main-left .box-header .tab-group{
    margin-left: 10px;
}
.main-view .main-left .box-header .tab-group .center{
    margin: 0 15px;
}
.main-view .main-left .box-table table{
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
.main-view .main-left .box-table table th{
    padding: 10px;
    color: rgb(36,36,36);
    vertical-align: middle;
}
.main-view .main-left .box-table table tbody tr{
    cursor: pointer;
}
.main-view .main-left .box-table table td{
    padding: 9px 10px;
    color: rgb(135,135,135);
    vertical-align: middle;
}
.main-view .main-left .box-table table td>p{
    width: 210px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main-view .main-left .box-table table tr:hover td{
    color: rgb(255,192,0);
}
.main-view .main-left .box-table table tr.active td{
    background-color: rgb(255,192,0);
    color: #fff;
}
.main-view .main-right .box{
    position: relative;
}
.main-view .main-right .box-header{
    padding: 20px 0 15px 0;
    border-bottom: 1px solid rgb(220,220,220);
    margin: 0 15px;
    position: relative;
}
.main-view .main-right .box-header h1{
    font-size: 24px;
    color: rgb(255,192,0);
    text-align: center;
    line-height: 28px;
    width: 670px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-view .main-right .box-header>span{
    font-size: 18px;
    color: rgb(130,130,130);
    position: absolute;
    line-height: 20px;
    top: 25px;
    cursor: pointer;
}
.main-view .main-right .box-header>span.prev{
    left: 0;
    padding-left: 15px;
    background: url("../images/prev-icon.png") no-repeat 0 center;
}
.main-view .main-right .box-header>span.next{
    padding-right: 15px;
    background: url("../images/next-icon.png") no-repeat right center;
    right: 0;
}
.main-view .main-right .box-content{
    padding: 15px 15px 0 15px;
}
.main-view .main-right .box-content .tab-item{
    font-size: 20px;
    padding: 0 15px;
}
.main-view .main-right .box-content .box-content-header{
    padding: 0 20px;
}
.main-view .main-right .box-content .box-content-header .tab-group{
    float: left;
}
.main-view .main-right .box-content .box-content-header .tab-group .center{
    margin: 0 5px;
}
.main-view .main-right .box-content .box-content-header .operation-group{
    float: right;
    line-height: 30px;
}
.main-view .main-right .box-content .box-content-header .operation-group a{
    color: rgb(1,174,253);
    font-size: 18px;
    padding-left: 25px;
    margin-right: 10px;
}
.main-view .main-right .box-content .box-content-header .operation-group a.op1{
    background: url("../images/op1-icon.png") no-repeat 0 center;
}
.main-view .main-right .box-content .box-content-header .operation-group a.op2{
    background: url("../images/op2-icon.png") no-repeat 0 center;
}
.main-view .main-right .box-content .box-content-header .operation-group a.op3{
    background: url("../images/op3-icon.png") no-repeat 0 center;
}
.main-view .main-right .box-content-body .container{
    margin-top: 20px;
}
.main-view .main-right .box-content-body .container.img-right{
    padding-right: 200px;
    position: relative;
}
.main-view .main-right .box-content-body .container .information{
    width: 100%;
}
.main-view .main-right .box-content-body .container .information h2{
    font-size: 18px;
    color: rgb(255,192,0);
    line-height: 28px;
    margin-bottom: 5px;
}
.main-view .main-right .box-content-body .container .information ul{
    line-height: 28px;
    font-size: 18px;
    color: rgb(68,68,68);
    margin-left: 40px;
}
.main-view .main-right .box-content-body .container .information ul li{
    padding-left: 250px;
    position: relative;
}
.main-view .main-right .box-content-body .container .information strong{
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
}
.main-view .main-right .box-content-body .container .information span{
    width: 95%;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
}
.main-view .main-right .box-content-body .img-right .image-area{
    border: 2px solid rgb(1,174,253);
    position: absolute;
    right: 20px;
    top: 0;
    width: 177px;
}
.main-view .main-right .box-content-body .img-right .image-area .figcaption{
    margin: 10px 5px;
}
.main-view .main-right .box-content-body .img-right .image-area .figcaption h2{
    font-size: 14px;
    color: rgb(68,68,68);
    float: left;
}
.main-view .main-right .box-content-body .img-right .image-area .figcaption .op{
    float: right;
}
.main-view .main-right .box-content-body .img-right .image-area .figcaption .op>a{
    width: 14px;
    height: 15px;
}
.main-view .main-right .box-content-body .img-right .image-area .figcaption .op>a.left-round{
    background-image: url("../images/left-round-icon.png");
}
.main-view .main-right .box-content-body .img-right .image-area .figcaption .op>a.right-round{
    background-image: url("../images/right-round-icon.png");
}
.main-view .main-right .box-content-body .img-right .image-area .figure{
    width: 100%;
    height: 170px;
}
.main-view .main-right .box-footer{
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 16px;
    color: rgb(120,120,120);
}
.main-view .main-right .box .btn-group{
    position: absolute;
    right: 33px;
    top: -55px;
}
.main-view .main-right .box .btn-group .button{
    background: url("../images/btn-bg.png") no-repeat;
    width: 124px;
    height: 41px;
    line-height: 41px;
}
.main-view .main-right .box .btn-group .button.center{
    margin: 0 35px;
}
.main-view .main-right .box .btn-group .button span{
    color: #fff;
    font-size: 24px;
    padding-left: 50px;
}
.main-view .main-right .box .btn-group .button span.btn-icon1{
    background: url("../images/btn-icon1.png") no-repeat 13px center;
}
.main-view .main-right .box .btn-group .button span.btn-icon2{
    background: url("../images/btn-icon2.png") no-repeat 18px center;
}
.main-view .main-right .box .btn-group .button span.btn-icon3{
    background: url("../images/btn-icon3.png") no-repeat 17px center;
}
.main-view .main-left .container-page{
    margin: 0 20px;
}
.page{
    padding: 0 60px;
    margin: 10px 0;
    position: relative;
}
.page .part1{
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
}
.page>.part2{
    text-align: center;
}
.page>.part2>span{
    font-size: 18px;
    color: rgb(135,135,135);
}
.page .part3{
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
}
.page>.part>i.style1{
    width: 12px;
}
.page>.part>i.style2{
    width: 9px;
}
.page>.part>i.first{
     left: 0;
     background-image: url("../images/page-first.png");
 }
.page>.part>i.prev{
    right: 0;
    background-image: url("../images/page-prev.png");
}
.page>.part>i.next{
    left: 0;
    background-image: url("../images/page-next.png");
}
.page>.part>i.last{
    right: 0;
    background-image: url("../images/page-last.png");
}
.page>.part>i{
    height: 17px;
    position: absolute;
    top: 50%;
    margin-top: -8.5px;
    cursor: pointer;
}